package layout

templ Base() {
	<html>
		<head>
			<title>Happy the Wise</title>
			<link rel="icon" type="image/x-icon" href="http://localhost:3000/static/favicon.webp"/>
			<script type="text/javascript" src="http://localhost:3000/static/script.js"></script>
			<link rel="stylesheet" href="http://localhost:3000/static/styles.css"/>
		</head>
		<body>
			<h1>All hail</h1>
			{ children... }
		</body>
	</html>
}
